.hand {
    cursor: pointer !important;
}

iconesHome {
    padding-top: 50px;
}

.iconesHome .row a {
    background: #5cb85c;
    display: block;
    text-align: center;
    border-radius: 3px;
    padding: 25px 0 0 0;
    box-shadow: 2px 2px 2px #000;
    text-decoration: none;
    margin-bottom: 10px;
    margin-right: 10px;
    height: 150px;
}

.iconesHome .row a i {
    color: #fff;
}

.iconesHome .row a span {
    color: #fff;
    text-align: center;
}

    .iconesHome .row a:hover {
        color: #fff !important;
        background: #33cc33;
    }
